:root{
    --lightgreen : #00c78a;
    --orange: #ff9c27;
    --primarytext: #f2e8cf;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #374151;
}
header{
    padding: 2rem 1rem;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: #616B7A;
    margin-bottom: 1.5rem;
}
#task-form{
    display: flex;
}

input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#task-input{
    flex: 1 1 0%;
    background-color: #1F2936;
    padding: 1rem;
    border: 1px solid #1F2936;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--primarytext);
    font-size: 1.25rem;
}
#task-input::placeholder{
    color: #616B7A;
}
#task-submit{
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    background: linear-gradient(to right, #ec4899,
    #8b5cf6);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}


.container{
    background: var(--bg);
    flex: 0% 1 0%;
    max-width: 750px;
    width: 100%;
    margin: 2rem auto;
    border-radius: 1rem;
} 

main{
    flex: 1 1 0%;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: #0F1724;
    border: 1px solid #0F1724;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#tasks .task .content{
    flex: 1 1 0%;
}
#tasks .task .content .text{
    color: var(--primarytext);
    font-size: 1.13rem;
    width: 100%;
    display: block;
}
#tasks .task .content .text:not(:read-only){
    color: #C04F7E;
}
#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    margin: 0 0.5rem;
    text-transform: uppercase;
}

.task .actions .Edit{
    background: linear-gradient(to right, #ec4899,
    #8b5cf6);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
.task .actions .Delete{
    color: #C71A45;
}

.strike {
    text-decoration: line-through;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
    color: #616B7A;
    margin-bottom: 1.5rem;
}